body{
    background-color: #323030;
    font-family: "Comfortaa";
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

#Name1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
}

#Name2 { 
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(90deg,#ffffff 30%,#1a4b91 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 0px;
}

#marca ul {
    padding: 0;
}

#marca li {
    list-style: none;
}

.coluna {
    flex: 1; 
    background-color: white;
    color: #323030;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}

.coluna a {
    color: #323030;
}

.liLeft {
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plano {
    flex: 1; 
    background-color: white;
    color: #323030;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}

.plano h3 {
    text-align: center;
    color: #323030;
}

.plano ul {
    list-style: none;
    padding: 0;
    color: #323030;
}

.plano ul li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.check { color: green; }
.cross { color: red; }

.imgSetupInicial {
    width: 373px;
    height: 373px;
    border-radius: 50px;
}